@import "../layout.scss";
@import "../variables.scss";


.team {

    &-image-prof {
        img {
            // round
            align-self: flex-start;
            border-radius: 50%;
            border: 7px solid $primary; // 10 px, je les ai compté sur la maquette !

        }
    }

    &-image-student {
        img {
            // round
            align-self: flex-start;
            border-radius: 50%;
            border: 7px solid $neutral; // 10 px, je les ai compté sur la maquette !

        }
    }

    &-section {
        @extend %layout-section;
    }

    &-header {
        @extend %layout-header;
        @extend .is-one-quarter;
        padding-top: 0;
    }

    &-list {
        @extend %layout-list;
        @extend .is-three-quarters;
    }

    &-member {
        &:first-child {
            margin-top: 72px;
        }

        &-info {
            margin-left: 38px;
        }

        h4 {
            font-weight: 700;
            color: rgb(34, 37, 44);
            font-size: 30px;
        }

        display: flex;
        margin-left: 20px;
        margin-bottom: 32px;
        align-items: center;
    }



    h3 {
        font-weight: 900;
        padding-right: 7px;
        margin-right: -16px;
    }
}