@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@import "./variables.scss";

@import "../node_modules/bulma/bulma.sass";


body {
  background-image: url(./assets/background.svg);
  background-repeat: repeat-y;
  min-height: 100vh;
  background-size: 100% auto;
}

@for $i from 1 through 4 {
  h#{$i}.is-primary {
    color: $primary;
  }
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;

  color: #000000;
}

h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  padding-top: 100px
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
}

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  color: #00366D;
}

.page-container {
  padding: 0 7%;
}

.navbar {
  margin: auto;
  padding-top: 30px;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.0);

  &-start {
    margin-right: 0;
    flex-grow: 1;
    align-items: center;
    width: 100%;

    a.navbar-item {
      background-color: $secondary;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      /* identical to box height */

      text-align: center;

      color: #ffffff;
      height: 35px;
      margin-right: 3px;
    }
  }

  &-menu {
    margin-right: 0;
    flex-grow: 1;
    align-items: center;
    // order: 3;
    // flex-shrink: 0;
    width: 100%;
    // flex-wrap: wrap-reverse;
  }

  &-menu.is-active {
    padding: 0;
  }

  &-item img {
    max-height: 600px;
    margin-bottom: 26px;
  }

  &-menu.is-active a.navbar-item {
    margin: 0;
  }

  &-start a.navbar-item:nth-child(1) {
    background-color: $primary;
    border-radius: 10px 0px 0px 10px;
  }

  &-menu.is-active a.navbar-item:nth-child(1) {
    border-radius: 0px 0px 0px 0px;
  }

  &-start span.navbar-item:last-child {
    border-radius: 0px 10px 10px 0px;
    margin-right: 0;
    flex-grow: 1;
    background-color: $secondary;
    height: 35px;
  }

  &-menu.is-active span.navbar-item:last-child {
    border-radius: 0px 0px 0px 0px;
  }

  &-end div.navbar-item {
    padding-left: 0;
    padding-right: 0;
  }
}

.button {
  border-radius: 58px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 7px 21px;
  color: white;
  border: 0;
  height: auto;
}


a.button.is-secondary {
  background-color: $secondary;

  &:hover {
    color: #ffffff;
  }
}

.footer {
  //set the footer to the bottom of the page
  position: fixed;
  bottom: 0;
  width: 100%;


  background-color: $secondary;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

