@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$primary : #BD0E3A;
$secondary : #4D4D4D;


@import "../node_modules/bulma/bulma.sass";

/* .App {
  text-align: center;
} */

.button {
  border-radius: 58px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 7px 21px;
  color: white;
  border: 0;
  height: auto;
}